@font-face {
  font-family: "Proxima Nova Light";
  src: url("./fonts/Proxima-Nova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./fonts/Proxima-Nova-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  background-color: #fff;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 450px;
}

section {
  margin: 15% 15px;
  width: 300px;
  color: #9d9d9d;
  font-family: Proxima Nova Light;
  font-size: 14px;
  text-align: center;
}

.title {
  padding-top: 30px;
  color: #000;
  font-family: Proxima Nova Regular;
  text-transform: uppercase;
}

.icon-container {
  width: max-content;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  border: 2px solid #1275b9;    
  border-radius: 50%;
  transition: background-color .4s;
  cursor: pointer;
}

.icon-Dashboard, 
.icon-Settings, 
.icon-Tablet {
  font-size: 30px;
  color: #1275b9;
}

.icon-container:hover {
  background-color: #1275b9;
}

.icon-container:hover, 
.icon-Dashboard:hover, 
.icon-Settings:hover, 
.icon-Tablet:hover {
  color: #fff;
}